---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/thinkRedLogo.png";
import stackPaper from "../assets/stackedCards.png";
import pdev from "../assets/product.jpeg";
import profilePic from "../assets/avatar.webp";
import riginProfile from "../assets/riginProfile.jpeg";
import nileshProfile from "../assets/nileshProfile.jpeg";
import sayakProfile from "../assets/sayakProfile.jpeg";
import mayurProfile from "../assets/mayurProfile.jpeg";
import apaas from "../assets/apaas.webp";
import gdb from "../assets/graphicDesign.avif";
import tc from "../assets/tc.png";
import cloud from "../assets/cloud.png";
import "../assets/fonts/fonts.css";
export const prerender = true;
// Component Imports
import Expertise from "../components/expertise.svelte";
---
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
  crossorigin="anonymous"></script>
<Layout title="Home">
  <div class="row header" id="home">
    <div
      class="col-md-6 d-flex align-items-center justify-content-between hide-social"
    >
      <Image class="header-img img-fluid" src={logo} alt="logo" />
    </div>
    <div
      class="col-md-12 d-flex align-items-center justify-content-between display-ham"
    >
      <Image class="header-img img-fluid" src={logo} alt="logo" />
      <span class="me-2 text-danger display-ham"
        ><i
          class="fa-solid fa-bars"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"></i></span
      >
    </div>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <h5 class="text-color-primary display-1" id="offcanvasRightLabel">
          Menu
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="row mt-2">
          <div class="col-md-12 d-flex align-item-center">
            <a
              class="body-1-regular social-icons text-danger"
              href="https://github.com/thinkredtech"
              ><i class="fa-brands fa-square-github"></i></a
            >
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12 d-flex align-item-center">
            <a
              class="body-1-regular social-icons text-danger"
              href="https://www.instagram.com"
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12 d-flex align-item-center">
            <a
              class="body-1-regular social-icons text-danger"
              href="https://www.facebook.com"
              ><i class="fa-brands fa-square-facebook"></i></a
            >
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12 d-flex align-item-center">
            <a
              class="body-1-regular social-icons text-danger"
              href="https://www.twitter.com"
              ><i class="fa-brands fa-square-twitter"></i></a
            >
          </div>
        </div>
      </div>
      <hr class="mt-4 mb-4" />
      <div class="row mt-2">
        <div class="col-md-12">
          <span class="body-1-regular text-color-secondary">FAQs</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="body-1-regular text-color-secondary">Terms</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="body-1-regular text-color-secondary">Privacy</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="body-1-regular text-color-secondary">Sitemap</span>
        </div>
      </div>
    </div>
  </div>


<!--Start Sticky Icon-->
<div class="sticky-icon hide-social">
  <a href="https://www.instagram.com/?hl=en" class="Instagram display-1"
    ><i class="fab fa-instagram"></i> Instagram
  </a>
  <a href="https://www.facebook.com/" class="Facebook display-1"
    ><i class="fab fa-facebook-f"> </i> Facebook
  </a>
  <a href="https://twitter.com/login" class="Twitter display-1"
    ><i class="fab fa-twitter"> </i> Twitter
  </a>
  <a href="https://github.com/thinkredtech" class="Github display-1"
    ><i class="fab fa-github"> </i> Github
  </a>
</div>
<!--End Sticky Icon-->

<div class="row section-1 d-flex align-items-end justify-content-end">
  <Image class="img-fluid" src={stackPaper} alt="logo" />
  <div class="col-md-12 section-1-text">
    <div class="row">
      <div class="col-md-12">
        <p class="ms-2 fs-1 text-color-primary display-1">
          Simplifying your online presence
        </p>
      </div>
      <div class="col-md-12 mt-4">
        <p class="ms-2 fs-5 text-color-secondary body-1-regular">
          We provide products that elevate your experience and help you best at
          what you do!
        </p>
        <p></p>
      </div>
      <div class="col-md-12 mt-2">
        <p class="ms-2 body-1-regular text-color-secondary fs-5">
          Have an app idea ?
        </p>
        <button type="button" class="btn btn-danger b-radius cta-small fs-5"
          >Let's build it together</button
        >
      </div>
    </div>
  </div>
</div>
<div class="row" id="services">
  <div class="col-md-12 sticky-top nav-bg hide-nav">
    <div class="row fs-5">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-color-secondary small-label" href="#home"
                >Home</a
              >
            </li>
            <li class="nav-item ms-4">
              <a
                class="nav-link text-color-secondary small-label"
                href="#services">Service</a
              >
            </li>
            <li class="nav-item ms-4">
              <a
                class="nav-link text-color-secondary small-label"
                href="#expertise">Expertise</a
              >
            </li>
            <li class="nav-item ms-4">
              <a
                class="nav-link text-color-secondary small-label"
                href="#journal">Journal</a
              >
            </li>
            <li class="nav-item ms-4">
              <a
                class="nav-link text-color-secondary small-label"
                href="#contact">Contact</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row mt-4 mt">
    <div class="col-md-12">
      <p class="ms-2 fs-1 heading-2-regular text-color-primary mt">
        Our Services
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="ms-2 fs-5 body-1-regular text-color-secondary">
        We provide products that elevate your experience and help you best at
        what you do!
      </p>
    </div>
  </div>
  <div class="d-flex flex-row overflow-x-auto flex-nowrap hide-scroll mb-3">
    <div class="p-2">
      <div class="card width-card shade border-0">
        <div class="service-image-size d-flex justify-content-center">
          <Image class="img-fluid" src={pdev} alt="logo" />
        </div>
        <div class="card-body">
          <h5 class="card-title body-2-medium text-color-secondary">
            Product Design & Development
          </h5>
          <p class="card-text body-1-regular text-color-tertiary fs-5">
            With the colllection of 10+ years in developing web application,  
            we're passionate about bringing innovative ideas to life through our comprehensive product design and development process.
            We believe in the power of creativity, technology, 
            and user-centric approaches to craft solutions that make a difference.
          </p>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div class="card width-card shade border-0">
        <div class="service-image-size d-flex justify-content-center">
          <Image class="img-fluid" src={apaas} alt="logo" />
        </div>
        <div class="card-body">
          <h5 class="card-title body-2-medium text-color-secondary">
            Application Platform As Service
          </h5>
          <p class="card-text body-1-regular text-color-tertiary fs-5">
            Our aPaaS solution empowers businesses and developers to create, deploy, 
            we offer a comprehensive platform that streamlines the entire application lifecycle. 
            From ideation to execution, our aPaaS provides a robust environment, 
            enabling rapid development and deployment.
          </p>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div class="card width-card shade border-0">
        <div class="service-image-size d-flex justify-content-center">
          <Image class="img-fluid graphic-image" src={gdb} alt="logo" />
        </div>
        <div class="card-body">
          <h5 class="card-title body-2-medium text-color-secondary">
            Graphic Design And Branding
          </h5>
          <p class="card-text body-1-regular text-color-tertiary fs-5">
            Our passion lies in elevating brands through innovative graphic design and  branding solutions.
            we understand the power of a well-crafted visual story.From logos to complete brand identities, 
            our team of skilled designers works collaboratively to capture the essence of your brand and translate it into visually compelling elements.
          </p>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div class="card width-card shade border-0">
        <div class="service-image-size">
          <Image class="img-fluid" src={tc} alt="logo" />
        </div>
        <div class="card-body">
          <h5 class="card-title body-2-medium text-color-secondary">
            Tehnology Consultation
          </h5>
          <p class="card-text body-1-regular text-color-tertiary fs-5">
            Our technology consultation services are designed to empower businesses, 
            providing expert guidance and strategic insights to drive innovation and growth.
            Our consultants bring a wealth of experience across various industries,
            offering solutions to address your specific needs.
          </p>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div class="card width-card shade border-0">
        <div class="service-image-size d-flex justify-content-center">
          <Image class="img-fluid cloud-image" src={cloud} alt="logo" />
        </div>
        <div class="card-body">
          <h5 class="card-title body-2-medium text-color-secondary">
            Cloud Infrastructure
          </h5>
          <p class="card-text body-1-regular text-color-tertiary fs-5">
            We redefine scalability, reliability, and efficiency through cutting-edge cloud infrastructure solutions. 
            Our expertise lies in architecting, 
            deploying, and managing cloud environments that suit your business needs. 
            We can craft robust and scalable infrastructure solutions on leading cloud platforms
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" id="expertise">
    <Expertise client:load />
  </div>
<!--  <div class="row mt pt-4" id="journal">
    <div class="col-md-12 pt-2">
      <div class="col-md-12">
        <p class="ms-2 heading-2-regular text-color-primary fs-1">Journal</p>
      </div>
      <div class="col-md-12">
        <p class="ms-2 fs-5 body-1-regular text-color-secondary">
          Welcome to our Journal, your source for insightful articles, thought-provoking discussions, and the latest industry trends. At Think RED, we believe in the power of knowledge-sharing and continuous learning.

          Our Journal serves as a platform to explore a diverse range of technological topics. Our team of experts, enthusiasts, and contributors share their expertise, experiences, and perspectives, offering valuable insights and inspiration.
          
          We strive to keep our readers informed, engaged, and inspired. Through in-depth analyses, guides, interviews, and stories, we aim to enrich your understanding and keep you updated with the ever-evolving world around us.
          
          Whether you're seeking advice, looking for inspiration, or staying updated with the latest industry trends, our Journal is your gateway to a wealth of information. Join us in the pursuit of knowledge and exploration as we delve into intriguing topics and spark meaningful conversations.
          
          Feel free to engage, share your thoughts, and embark on this journey of discovery with us. Your participation adds depth and richness to our community!
        </p>
      </div>
    </div>
     <div class="col-md-6 pt-4">
      <div class="col-md-12">
        <p class="fs-4 heading-3-regular text-color-secondary mb-0">
          Journal 1
        </p>
        <span class="body-1-regular text-color-tertiary fs-5"
          >Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...</span
        >
      </div>
      <div class="col-md-12">
        <p class="fs-4 heading-3-regular mb-0 text-color-secondary">
          Journal 2
        </p>
        <span class="body-1-regular text-color-tertiary fs-5"
          >Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...</span
        >
      </div>
      <div class="col-md-12">
        <p class="fs-4 heading-3-regular mb-0 text-color-secondary">
          Journal 3
        </p>
        <span class="body-1-regular text-color-tertiary fs-5"
          >Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit...</span
        >
      </div>
    </div> 
  </div>-->
  <div class="row mb-4 mt-polygon">
    <div class="col-md-12">
      <div class="col-md-12">
        <p class="ms-2 heading-2-regular text-color-primary fs-1 mt">
          About Us
        </p>
      </div>
      <div class="col-md-12">
        <p class="ms-2 fs-5 body-1-regular text-color-secondary">
          Welcome to Think RED! We are a passionate team dedicated to simplify your tech needs. 
          Our journey began with a vision to [briefly describe the motivation behind starting the company or the problem you aim to solve].
          At THINK RED, we strive for providing best possible and simple solutions for your tech needs. 
          Through our services and products, we aim to deliver complex problems with simple solutions.
          Our team brings together diverse expertise and unwavering dedication. We believe in simplicity.
          Join us on this exciting adventure. We're thrilled to have you be a part of our story!
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-4 mt-polygon fade-red-bg" id="contact">
    <div class="col-md-12 mt-4">
      <div class="col-md-12 mt-4 pt-4">
        <p class="ms-2 heading-2-regular text-color-primary fs-1">
          Get In Touch!
        </p>
      </div>
      <div col-md-12>
        <p class="ms-2 body-1-regular fs-5 text-color-secondary">
           We welcome your inquiries, feedback, and collaborations. 
           Whether you have questions about our services, seek partnership opportunities,
           or simply want to say hello, we're eager to hear from you. 
           Our team is dedicated to prompt and meaningful communication. 
           Drop us a message, and we'll make sure to get back to you as soon as possible. 
           Your thoughts and inquiries are invaluable to us, 
           guiding our commitment to delivering the best experience possible.
        </p>
      </div>
      <div class="row fs-5">
        <div class="col-md-3 fs-5">
          <p class="ms-2">
            <i class="fa-solid fa-at text-danger"></i><span
              class="body-1-regular ms-1 text-color-secondary"
              >hello@thinkred.tech</span
            >
          </p>
        </div>
        <div class="col-md-3">
          <p class="ms-2">
            <i class="fa-solid fa-mobile text-danger"></i><span
              class="body-1-regular text-color-secondary ms-1"
              >(+91) 9922928802</span
            >
          </p>
        </div>
        <div class="col-md-3">
          <p class="ms-2">
            <i class="fa-solid fa-mobile text-danger"></i><span
              class="body-1-regular text-color-secondary ms-1"
              >(+91) 9495788191</span
            >
          </p>
        </div>
        <div class="col-md-3">
          <p class="ms-2">
            <i class="fa-solid fa-mobile text-danger"></i><span
              class="body-1-regular text-color-secondary ms-1"
              >(+91) 9637979905</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-white">
    <div class="col-md-6 footer-fontsize d-flex align-items-center hide-nav">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link breadcrumb-medium text-color-secondary"
                aria-current="page"
                href="#">FAQs</a
              >
            </li>
            <li class="nav-item ms-4">
              <a
                class="nav-link breadcrumb-medium text-color-secondary"
                aria-current="page"
                href="#">Terms</a
              >
            </li>
            <li class="nav-item ms-4">
              <a
                class="nav-link breadcrumb-medium text-color-secondary"
                href="#">Privacy</a
              >
            </li>
            <li class="nav-item ms-4">
              <a
                class="nav-link breadcrumb-medium text-color-secondary"
                href="#">Sitemap</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div
      class="col-md-6 d-flex flex-row justify-content-end align-items-center"
    >
      <div class="me-2">
        <span
          class="breadcrumb-medium text-color-secondary fs-6 footer-fontsize footer-fontsize-tab"
          >(c) 2023 All Rights Reserved</span
        >
      </div>
      <div class="ms-2 me-2">
        <span
          class="breadcrumb-medium text-color-secondary fs-6 footer-fontsize footer-fontsize-tab"
          >|</span
        >
      </div>
      <div class="ms-2">
        <span
          class="breadcrumb-medium text-color-secondary fs-6 footer-fontsize footer-fontsize-tab"
          >thinkRED Technologies LLP.</span
        >
      </div>
    </div>
  </div>
</div>
</Layout>